---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Oplevelsecard from "../components/Oplevelsecard.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";
import herovideo from "../assets/images/herovideo.mp4";
import beer1 from "../assets/images/beer1.webp";
import beer2 from "../assets/images/beer2.webp";
import passion from "../assets/images/passion.jpg";
import trin1 from "../assets/images/trin1.svg";
import trin2 from "../assets/images/trin2.svg";
import trin3 from "../assets/images/trin3.svg";
import malt from "../assets/images/malt.png";
import hops from "../assets/images/hops.png";
import lemon from "../assets/images/lemon.webp";
import appelsin from "../assets/images/appelsin.png";
import boblerdesk from "../assets/images/boblerdesk.svg";
import boblermobil from "../assets/images/boblermobil.svg";
---

<MainLayout title="MaltClub" />
<div class="relative w-full h-screen">
  <video
    src={herovideo}
    class="absolute inset-0 w-full h-full object-cover"
    autoplay
    muted
    loop></video>

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black opacity-40"></div>

  <!-- Indhold -->
  <div
    class="relative z-10 flex items-center justify-center text-white flex-col h-full"
  >
    <!-- Flasker -->
    <div class="absolute inset-0 flex justify-between items-center px-8">
      <!-- Flaske 1 -->
      <Image
        src={beer1}
        alt="En øl"
        class="hidden md:block w-[190px] h-auto transform rotate-[-10deg] ml-5"
      />
      <!-- Flaske 2 -->

      <Image
        src={beer2}
        alt="En øl"
        class="hidden md:block w-[140px] h-auto transform rotate-[10deg] mr-10"
      />
    </div>

    <h1
      class="text-[45px] md:text-[128px] md:mt-2 karantina font-bold text-center mt-60"
    >
      BRYGGET MED OMSORG <br />
      LEVERET MED KÆRLIGHED
    </h1>

    <h2
      class="mt-4 text-[24px] md:text-[40px] karantina font-bold text-center m-8"
    >
      Unikke specialøl, der forvandler din hverdag til en smagsoplevelse
    </h2>

    <!-- Call-to-action knap -->
    <a
      href="/productchoose"
      class="karantina text-[32px] bg-[#A6411B] hover:bg-[#8A3717] text-white py-3 px-6 rounded-[20px] z-20 relative"
    >
      Se abonnementer
    </a>
  </div>

  <!-- Scroll-pil -->
  <div class="absolute bottom-4 left-0 right-0 flex justify-center">
    <a href="#next-section" class="text-white text-3xl animate-bounce"> ↓ </a>
  </div>
</div>

<!-- Passion for øl sektion -->
<section class="p-2 mt-10 md:mt-20 md:p-10">
  <div class="relative">
    <Image
      src={passion}
      alt="En person skænker øl op"
      class="rounded-[20px] md:w-[817px] md:h-[693px] md:ml-auto"
    />

    <div
      class="bg-black text-white p-10 rounded-[20px] mt-6 md:absolute md:top-1/2 md:left-0 md:transform md:-translate-y-1/2 md:w-1/2 md:ml-4"
      style="box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 1);"
    >
      <h2
        class="text-[40px] ml-5 md:text-[64px] karantina font-bold text-center md:text-left"
      >
        En <span class="text-[#BE7E39]">passion</span> for øl
      </h2>
      <p class="text-[16px] ml-5 mt-[20px] jost">
        Hos MaltClub er vi passionerede omkring at udbrede kendskabet til øl med
        historie og smag. Hver måned sammensætter vi en kasse fyldt med nøje
        udvalgte specialøl fra bryghuse med noget på hjertet. Øl, der ikke bare
        smager godt – men også fortæller en historie. <br /><br />
        Er du klar til din næste smagsoplevelse?
      </p>
    </div>
  </div>
</section>

<!-- Trin sektion -->
<section>
  <h2
    class="text-[40px] m-10 md:text-[64px] karantina font-bold text-center text-white md:mt-20"
  >
    Tre simple trin til fantastiske øl
  </h2>

  <!-- Grid container -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-4 md:px-20">
    <!-- Trin 1 -->
    <div class="relative text-center">
      <h3 class="text-[96px] md:text-[128px] karantina font-bold text-white">
        1
      </h3>
      <Image
        src={trin1}
        alt="En computerskærm med indkøbskurv"
        class="w-[80%] md:w-[100%] mx-auto"
      />
      <p
        class="absolute inset-0 text-white font-bold jost flex justify-center items-center mt-72 md:mt-80 md:text-[20px]"
      >
        Vælg dit MaltCLub abonnement
      </p>
    </div>

    <!-- Trin 2 -->
    <div class="relative text-center">
      <h3 class="text-[96px] md:text-[128px] karantina font-bold text-white">
        2
      </h3>
      <Image
        src={trin2}
        alt="En lastbil der leverer øl"
        class="w-[80%] md:w-[100%] mx-auto"
      />
      <p
        class="absolute inset-0 text-white font-bold jost flex justify-center items-center mt-72 md:mt-80 md:text-[20px]"
      >
        Vi leverer direkte til døren
      </p>
    </div>

    <!-- Trin 3 -->
    <div class="relative text-center">
      <h3 class="text-[96px] md:text-[128px] karantina font-bold text-white">
        3
      </h3>
      <Image
        src={trin3}
        alt="To øl glas der skåler"
        class="w-[80%] md:w-[100%] mx-auto"
      />
      <p
        class="absolute inset-0 text-white font-bold jost flex justify-center items-center mt-72 md:mt-80 md:text-[20px]"
      >
        Nyd unikke øl i godt selskab
      </p>
    </div>
  </div>
</section>

<!-- Bobler -->
<div class="relative">
  <!-- Desktop-bobler (vises kun på større skærme) -->
  <Image src={boblerdesk} alt="Ølbobler" class="hidden md:block m-auto" />

  <!-- Mobil-bobler (vises kun på mobile skærme) -->
  <Image
    src={boblermobil}
    alt="Ølbobler"
    class="block md:hidden mx-auto mt-10"
  />
</div>

<section class="p-1">
  <div
    class="bg-black p-6 rounded-[20px] mt-6"
    style="box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 1);"
  >
    <h2 class="text-[36px] md:text-[64px] karantina font-bold text-white">
      De <span class="text-[#BE7E39]">fire</span> nøgleingredienser
    </h2>
    <p class="text-white text-[16px] mt-[20px] jost">
      Hemmeligheden bag en fantastisk øl starter med de fire nøgleingredienser:
      vand, malt, humle og gær. Det er her fundamentet skabes – malten giver
      øllet fylde og sødme, humlen tilføjer bitterhed og aroma, gæren skaber
      smag og de livlige bobler, og vandet binder det hele sammen med ren
      friskhed.
    </p>
  </div>

  <div class="flex justify-center gap-8 mt-8">
    <div class="relative">
      <Image src={malt} alt="Malt" class="w-[200px] md:w-[300px]" />
    </div>

    <div class="relative -mt-16">
      <Image src={hops} alt="Humle" class="w-[200px] md:w-[300px]" />
    </div>
  </div>
</section>

<div
  class="bg-black p-6 rounded-[20px] mt-6"
  style="box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 1);"
>
  <h2 class="text-[36px] md:text-[64px] karantina font-bold text-[#BE7E39]">
    Kreativitet <span class="text-white">og</span> eksperimenter
  </h2>
  <p class="text-white text-[16px] mt-[20px] jost">
    Hemmeligheden bag en fantastisk øl starter med de fire nøgleingredienser:
    vand, malt, humle og gær. Det er her fundamentet skabes – malten giver øllet
    fylde og sødme, humlen tilføjer bitterhed og aroma, gæren skaber smag og de
    livlige bobler, og vandet binder det hele sammen med ren friskhed.
  </p>
</div>

<div class="flex justify-center gap-8 mt-8">
  <div class="relative">
    <Image src={appelsin} alt="Appelsiner" class="w-[200px] md:w-[300px]" />
  </div>

  <div class="relative -mt-16">
    <Image src={lemon} alt="Citroner" class="w-[200px] md:w-[300px]" />
  </div>
</div>

<section>
  <Oplevelsecard />
  <Footer />
</section>
